.container {
    margin-top: 20px;
    padding: 20px;
  
  
    .profile {
        
      img {
      width: 100%;
      margin-bottom: 20px;
      height:auto;
      margin-top: 20px;
    }
  
  
  
    h4 {
      margin-top: 10px;
      background: linear-gradient(135deg, #85abdd, #b896d7);
      background-clip: text;
      color: transparent;
      font-size: 30px;
      font-family: 'Great Vibes', cursive;
    }
  
      p {
        color: #909090;
      }
  
      
      
    }
  
      
    .skills,
    .contact {
      margin-top: 30px;
      color: #909090;
  
      ul {
        list-style: none;
        padding: 0;
      }
      
      ul li {
        margin-bottom: 8px;
        font-size: 18px;
      }
      
      a {
        color: #007bff;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
    }
      

  
    .logo img {
      height: 60px;
      width: auto;
      margin: 0 auto 10px;
  
    }
  
    .name {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 8px;
      color: #d4d4d4;
    }
  
    .description {
      font-size: 14px;
      color: #d4d4d4;
      margin: 0;
    }
    
    .work-experience {
      margin-top: 30px;
      color: #909090;
      
    
      h2 {
        background: linear-gradient(135deg, #85abdd, #b896d7);
        background-clip: text;
        color: transparent;
        font-size: 24px;
        margin-bottom: 20px;
      }
    
      .experience-item {
        margin-bottom: 30px;
        display: flex;
      }
    
      .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
      }
    
      .line {
        width: 2px;
        background-color: #85abdd;
        flex: 1;
        margin-bottom: 10px;
        position: relative;
      }
    
      .line:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        background-color: #85abdd;
        border-radius: 50%;
      }
    
      .circle {
        width: 12px;
        height: 12px;
        background-color: #b896d7;
        border-radius: 50%;
      }
    
      .content {
        flex: 1;
      }
    
      h3 {
        font-size: 20px;
        color: #d4d4d4;
        margin-bottom: 5px;
      }
    
      ul {
        list-style: none;
        padding: 0;
        margin-top: 5px;
      }
    
      ul li {
        margin-bottom: 5px;
         font-size: 16px;
      }
    
      /* Animation */
      .line {
        animation: lineAnimation 1s infinite alternate;
      }
    
      .circle {
        animation: circleAnimation 1s infinite alternate;
      }
    
      @keyframes lineAnimation {
        from {
          height: 0;
        }
        to {
          height: 100%;
        }
      }
    
      @keyframes circleAnimation {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(1);
        }
      }
    }

      
    .card-section{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
    }
    
  
    .card {
      border: 1px solid transparent;
      text-align: center;
      width: 290px;
      height: 200px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(40, 53, 63);
      margin-bottom: 26px;
      color: #d4d4d4;
      transition: transform 0.3s ease;
    
      &:hover {
        transform: translateY(-5px);
      }
  }
  
    
    .projects {
      margin-top: 30px;
    
      :is(h2){
        background: linear-gradient(135deg, #85abdd, #b896d7);
        background-clip: text;
        color: transparent;
        font-size: 24px;
        margin-bottom: 20px;
      }
    
      .project-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    
      .card {
        width: calc(33.3333% - 20px);
        height: auto;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: rgb(40, 53, 63);
        color: #888888;
        overflow: hidden;
        transition: transform 0.3s ease;
    
        &:hover {
          transform: translateY(-5px);
        }
    
        .project-image {
          img {
            width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
    
        .project-details {
          padding: 15px;
    
          h3 {
            background: linear-gradient(135deg, #85abdd, #b896d7);
            background-clip: text;
            font-size: 18px;
            margin-bottom: 5px;
            text-align: left;
          }
    
          p {
            margin-bottom: 15px;
            text-align: left;
          }
    
          .buttons {
            display: flex;
            justify-content: space-between;
    
            .btn {
              padding: 6px 20px;
              border-radius: 5px;
              text-decoration: none;
              color: #fff;
              font-weight: bold;
              transition: background-color 0.3s ease;
    
              &:hover {
                text-decoration: none;
              }
    
              &.btn-primary {
                background-color: #007bff;
              }
    
              &.btn-secondary {
                background-color: #6c757d;
              }
            }
          }
        }
      }
    }
    

    
  
    
  }

  h1 {
    background: linear-gradient(135deg, #85abdd, #b896d7);
    background-clip: text;
    color: transparent;
    font-size: 30px;
  }


  :is(h2){
    background: linear-gradient(135deg, #85abdd, #b896d7);
    background-clip: text;
    color: transparent;
    font-size: 24px;
  }


  .image-animation {
    animation: fade-in 2s ease-in-out;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }


  .image-card {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
  position: absolute;
  top: 30%; 
  right: 120px;
  transform: translateY(-50%); 
  text-align: right;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.overlay-text .line {
  opacity: 0;
  transform: translateX(-150px); 
  animation: fadeInFromLeft 2s forwards; 
  margin-bottom: 20px;
}



.overlay-text .line:nth-child(1) {
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  animation-delay: 0.5s;
  background: linear-gradient( #ffffff, #dedede);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overlay-text .line:nth-child(2) {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  transform: translateX(200px); 
  animation: fadeInFromRight 2s forwards; 
  background: linear-gradient( #85abdd, #b896d7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-delay: 2s; 
}

@keyframes fadeInFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.overlay-text .line:nth-child(3) {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  gap: 10px;
  animation-delay: 1.5s;
  background: linear-gradient(135deg, #ffffff, #dedede);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes fadeInFromLeft {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .overlay-text {
    top: 50%;
    font-size: 10px;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    padding: 10px;
    width: 80%;
    max-width: 100%;
  }

  .overlay-text .line:nth-child(1) {
    font-size: 1em;
    margin-top: 20px;
  }


}

.dark-mode .container {
  background-color: #fefef5; 
  border: 1px solid rgb(220, 220, 220);
  color: #888888;
   
}

.dark-mode .card {
  background-color: #f1f1eb; 
  border: 1px solid rgb(220, 220, 220);
   color: #282828; 
   
}



.dark-mode {
  .card-section {
    .card {
      .name,
      .description {
        color: #282828; 
      }
    }
  }
}

.dark-mode {
  .work-experience {
    .experience-item {
      .content
      h3 {
        color: #282828; 
      }
    }
  }
}
