.shop-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.shop-title {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #127681; 
  margin: 0 auto;
  text-align: center;
}



.under-construction {
  font-size: 18px;
  color: #ff6347;
  text-align: center;
  margin-top: 20px;
}