<div class="blog-container">
  <h1 class="category">Latest Articles</h1>

  <div class="blogs">
    <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-4">
      <!-- Blog Post Card -->
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/salesforce1.jpg" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">Introduction to Salesforce</h2>
          <p class="blog-description">Salesforce is the world's leading cloud-based Customer
            Relationship Management (CRM) platform....</p>
        </div>
      </div>
  
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/AI-machine-learning.jpeg" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">AI and Machine Learning</h2>
          <p class="blog-description">Demystifying Machine Learning: A Beginner's Guide to Algorithms...</p>
        </div>
      </div>
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/robot-at-computer-screen-850.jpg" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">Generative AI</h2>
          <p class="blog-description">Creating Art with AI: A Deep Dive into Generative Adversarial Networks (GANs)...</p>
        </div>
      </div>
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/Devops-toolchain.svg.png" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">DevOps</h2>
          <p class="blog-description">Continuous Integration and Continuous Deployment: Best Practices for Modern Development....</p>
        </div>
      </div>
    </div>
  </div>


  <h1 class="category mt-4">All Blog Posts</h1>
  <div class="blogs">
    <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-4">
      <!-- Blog Post Card -->
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/salesforce1.jpg" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">Introduction to Salesforce</h2>
          <p class="blog-description">Salesforce is the world's leading cloud-based Customer
            Relationship Management (CRM) platform....</p>
        </div>
      </div>
  
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/AI-machine-learning.jpeg" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">AI and Machine Learning</h2>
          <p class="blog-description">Demystifying Machine Learning: A Beginner's Guide to Algorithms...</p>
        </div>
      </div>
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/robot-at-computer-screen-850.jpg" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">Generative AI</h2>
          <p class="blog-description">Creating Art with AI: A Deep Dive into Generative Adversarial Networks (GANs)...</p>
        </div>
      </div>
      <div class= "cards">
        <img class="w-full h-48 object-cover img" src="/assets/Devops-toolchain.svg.png" alt="Blog Image">
        <div class="p-6">
          <h2 class="blog-heading">DevOps</h2>
          <p class="blog-description">Continuous Integration and Continuous Deployment: Best Practices for Modern Development....</p>
        </div>
      </div>
    </div>
  </div>


</div>