<div class="container" [ngClass]="{'dark-mode': isDarkMode}">
  <div class="about-container">
<div class="row">
  <div class="col-6">
    <div class="about-image">
      <img src="/assets/IMG_8542.jpeg" alt="About Image">
    </div>
  </div>

<div class="col-6">
<div class="about-text">
  <h1>Hello World!! ✨</h1>
  <p class="intro"><strong>👩🏽‍💻 I'm a Full Stack Developer with a background in finance & accounting, building beautiful and functional applications from scratch.</strong></p>
  <p>I'm currently expanding my skillset in <b>software development through a PGDCA course.</b></p>
  <p> My foray began with the fundamentals – the building blocks of websites, but I soon wanted more.</p>
  <p>💡 I dived into both front-end and back-end, mastering Angular for the front-end and wielding the power of C# and ASP.NET on the back-end.</p>
  <p><b>With 1.5 years of experience,</b> I'm passionate about creating responsive web applications that work flawlessly and offer great user experiences.</p>
  <p>Each project lets me combine creativity with technical skills to produce solutions that are both visually appealing and highly functional.</p>

  <div style="text-align: center; margin-top: 20px;">
    <a href="https://drive.google.com/file/d/1NzesFwQNveM8omRv4u0CY2Gnxn4XnLan/view?usp=drive_link" target="_blank" class="resume-button">My Resume</a>
  </div>
</div>
</div>
</div>
  </div>

  <div class="art">
<div class="row">
  <div class="col-6">
    <div class="art-text">
      <h1>To balance out my technical work, I enjoy...</h1>
      <p>Thematically, when I'm not building or coding, I find myself drawn to the physical world through painting.</p>
      <p>I've been honing my skills as a painter for the past five years, and I'm particularly drawn to the beauty of nature and the intricate details found in religious iconography.</p>
      <p>I've had the pleasure of selling several pieces, and I find the process of creating and sharing my art incredibly rewarding.</p>
      <p>This artistic side definitely influences the way I approach user interfaces and design, as I strive to create visually appealing and well-crafted applications.</p>
    </div>
  </div>
<div class="col-6">
  <div class="art-image">
    <img src="/assets/hands.jpeg" alt="Art Image">
  </div>
</div>
</div>
  </div>

  <div class="youtube-video">
    <h2>Check out my YouTube Channel:</h2>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/mAWb_zl_VUE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="paintings">
    <div class="paintings-text">
      <h1>My Paintings</h1>
      <p>You can view some of my paintings below:</p>
    </div>
    <div class="paintings-images">
      <div>
        <img src="/assets/sunset.jpeg" alt="Sunset">
        <p class="image-info">Find what you love and paint it.🌅</p>
      </div>
      <div>
        <img src="/assets/shadow.jpeg" alt="Sunset 1">
        <p class="image-info">Dramatic light.✨</p>
      </div>
      <div>
        <img src="/assets/sunset2.jpeg" alt="Sunset 2">
        <p class="image-info">Nostalgia ✨</p>
      </div>
      <div>
        <img src="/assets/sunset3.jpeg" alt="Sunset 3">
        <p class="image-info">Sunset Moodboard🧡 </p>
      </div>
      <div>
        <img src="/assets/eiffel.jpeg" alt="Eiffel Tower">
        <p class="image-info">One of my favourites so far.✌️🥲</p>
      </div>
      <div>
        <img src="/assets/1k.jpeg" alt="One Thousand">
        <p class="image-info">Reached 1k followers! Thank you for being supportive, encouraging, and kind! ~ Seema🌸</p>
      </div>
    </div>
  </div>
  
  
</div>


