.footer {
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 1000;
  color: #888888;
  border-top: 1px solid rgb(125, 125, 125);
  cursor: pointer;
  flex-wrap: wrap;
}

.left, .center, .right {
  flex: 1 1 100px;
  margin: 10px;
}

.left {
  display: flex;
  flex-direction: column;
}

h2 {
  background: linear-gradient(135deg, #85abdd, #b896d7);
  background-clip: text;
  color: transparent;
  font-size: 24px;
  margin: 0;
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.right {
  display: flex;
  flex-direction: column;
  
}

.right h2 {
  background: linear-gradient(135deg, #85abdd, #b896d7);
  background-clip: text;
  color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.right .fa {
  font-size: 20px;
  color: #888888;
  text-decoration: none;
  list-style: none;
  padding: 8px;
  border: 1px solid rgb(125, 125, 125);
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.right .fa:hover {
  color: #85abdd;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center the footer-bottom content */
  width: 100%; /* Ensure it takes full width */
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #888888;
  transition: color 0.3s ease-in-out;
}

.nav-item {
  margin-left: 20px;
  color: #595959;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.dark-mode .footer {
  background-color: #121212;
  color: #888888;
}

.dark-mode .dark-mode-toggle {
  color: #888888;
}

.dark-mode .nav-item {
  color: #999999;
}

.dark-mode .nav-item:hover {
  color: #999999;
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: flex-start;
  }

  .left, .center, .right {
      width: 100%;
      margin: 10px 0;
  }

  .center {
      width: 100%;
  }

  .footer-bottom {
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  h2 {
      font-size: 20px;
  }

  .right .fa {
      font-size: 18px;
      padding: 6px;
  }
}
