<div class="footer">
  <div routerLink="/" class="left">
    <h2 class="mb-2">SEEMA KHATRI</h2>
    <p>
      <i class="fa fa-envelope"></i> khatrisonia566@gmail.com
    </p>
    <p>
      <i class="fa fa-phone"></i> 8690489919
    </p>
  </div>
  <div class="center">
    <h2>About Me</h2>
    <p>
      I'm a front-end developer who enjoys turning complex ideas into smooth, interactive web experiences. With a strong grasp of Angular and backend technologies, I focus on building responsive, user-friendly applications. I'm always learning and refining my skills to create better solutions.
    </p>
  </div>
  <div class="right">
    <h2>Connect With Me</h2>
    <div class="social">
      <a href="https://www.linkedin.com/in/seema-khatri-514364229/" class="social-icon"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/seemakhatri" class="social-icon"><i class="fa fa-github"></i></a>
      <a href="https://www.instagram.com/skx.illustrates/" class="social-icon"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 | SK. All rights reserved.</p>
  </div>

</div>