.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(22, 29, 35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  height: 80px;
  z-index: 1000;
  border-bottom: 1px solid rgb(62, 62, 62);
  position: fixed;
}

.dark-mode {
  background-color: #fefef5;
  color: #595959;
}

.left {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #7b7b7b;
}

h2 {
  background: linear-gradient(135deg, #85abdd, #b896d7);
  background-clip: text;
  color: transparent;
  font-size: 24px;
  margin: 0;
}

.center {
  display: flex;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.nav-item {
  margin-right: 20px;
  color: #595959;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

.center a {
  font-size: 20px;
}

.nav-item:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #595959;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover {
  color: #7b7b7b;
}

.nav-item:hover:after {
  width: 100%;
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #888888;
  transition: color 0.3s ease-in-out;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: none;
  color: #7b7b7b;
}

@media (max-width: 768px) {
  .center {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .center.open {
    max-height: 500px; 
  }

  .nav-item {
    margin: 15px 0;
  }

  .right {
    display: flex;
    align-items: center;
  }

  .dark-mode-toggle,
  .menu-toggle {
    display: block;
  }

  .dark-mode-toggle {
    margin-right: 10px;
  }
}

.dark-mode .header {
  background-color: #121212;
  color: #888888;
}

.dark-mode .dark-mode-toggle {
  color: #888888;
}

.dark-mode .nav-item {
  color: #999999;
}

.dark-mode .nav-item:hover {
  color: #888888;
}
