.container {
  padding: 20px;
  margin-top: 20px;

  .btn-primary {
    background-color: #555;
    border-color: #555;
  }

  .btn-secondary {
    background-color: #777;
    border-color: #777;
  }

}

.projects {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 5px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .col-12 {
    width: 100%;
    padding: 0 15px;

    &.col-md-6 {
      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }

  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  .button-group {
    margin-top: auto;

    .btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.dark-mode .container {
  background-color: #fefef5;
  border: 1px solid rgb(220, 220, 220);
  color: #888888;
}

.dark-mode .card {
  background-color: #f1f1eb;
  border: 1px solid rgb(220, 220, 220);
  color: #282828;
}

.dark-mode .row{
  border: 1px solid rgb(203, 203, 203);
}